/* Universe + Flame Background */

body::before {

    content:"";

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    z-index:-2;


    background:
    radial-gradient(circle at 50% 100%,
    rgba(255,80,0,0.8),
    transparent 25%),

    radial-gradient(circle at top,
    #1a1a40,
    #000000 70%);


}


/* Animated 3D Flame */

body::after {

    content:"";

    position:fixed;

    bottom:-250px;

    left:50%;


    width:500px;

    height:500px;


    transform:
    translateX(-50%)
    rotate(45deg);


    background:

    linear-gradient(
    45deg,
    #ff0000,
    #ff6600,
    #ffff00
    );


    border-radius:
    50% 50% 50% 0;


    filter:
    blur(35px);


    opacity:0.7;


    z-index:-1;


    animation:
    flameAnimation 2s infinite alternate;


    box-shadow:

    0 0 80px #ff3300,
    0 0 150px #ff9900;

}



@keyframes flameAnimation {


    0% {

        transform:
        translateX(-50%)
        rotate(45deg)
        scale(1);

    }


    100% {

        transform:
        translateX(-50%)
        rotate(55deg)
        scale(1.15);

    }

}
